
.main-content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
}
.travel-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 20px;
    /* text-align: center; */
}
.travel-cost{
    margin-top: 50px;
}