.banner img{
    height: 300px;
    width: 100%;
}
.centered {
    background-color: #abc4ff;
    /* background-color: #b6ccfe; */
    padding: 10px;
    margin-top: 20px;
    width: 70%;
    height: 150px;
    margin-left: 200px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
 
  }