.image{
    height: 180px;
    width: 100%;
}
.place-info{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E1EFDF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attract-palce{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.btn-class{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.common-btn{
    background-color:#abc4ff;
    color: #111;
    width: 100px;
    height: 35px;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: bold;
}
.common-btn:hover{
    background-color: #a9def9;
    border: 1px solid #619b8a;
    
}